extends layout

block content
    if albumInstances.length
        strong These album instances must be deleted before deleting the album
        ul
            each instance in albumInstances
                li
                    a(href=instance.url) #{instance._id}
    else
        strong Are you sure you want to delete #{album.title}?
        form(method="post")
            input(type="hidden" name="albumID" value=album._id)
            button(type="submit") Yes
            a(href=album.url) No
            
