extends layout 

block content
    h1= title
    if allAlbums.length
        ul(class="albumList")
            a(class="addAlbum" class="albumLI" href="/album/create") +
            each album in allAlbums
                li(class="albumLI")
                    a(href=album.url) 
                        img(src=album.coverImageGet, alt="album cover")
                        div
                            h2= album.title
                            h3= album.artist.title
    else
        p no albums currently stored
        a(class="addAlbum" href="/album/create") add new album