extends layout 

block content
    div.delete-container
        if albums.length
            strong the following albums must be deleted before deleting this artist
            ul(class="albumList")
                each album in albums
                    li(class="albumLI")
                        a(href=album.url) 
                            img(src=album.coverImageGet, alt="album cover")
                            div
                                h2= album.title
                                h3= album.artist.title
        else
            div.delete-form
                strong Are you sure you want to delete #{artist.title}?
                form(method="post")
                    input(type="hidden" name="artistID" value=artist._id)
                    button(type="submit") Yes
                    a(href=artist.url) No