extends layout

block content
    h1 #{artist.title}
    p.artist-description  #{artist.description}
    img(class="album-detail-img" src=artist.artistImageGet)
    div.artist-detail-buttons
        a(class="blue-btn" href=(`${artist.url}/update`)) Update Artist
        a(class="red-btn" href=(`${artist.url}/delete`)) delete Artist
    h2 Albums
    if(albums.length)
        ul(class="artist-detail-album-list")
            each album in albums
                li
                    a(class="artist-detail-albumLI" href=album.url)
                        img(src=album.coverImageGet)
                        h3  #{album.title}
    else
        strong No Albums currently stored
