extends layout

block content

    h1 #{title}
    div.artist-detail-buttons
        a(class="blue-btn" href=`${genre.url}/update`) Update Genre
        a(class="red-btn" href=`${genre.url}/delete`) Delete Genre
    ul(class="albumList")
        each album in albums
            li(class="albumLI")
                a(href=album.url)
                    img(src=album.coverImageGet)
                    div
                        h2= album.title
                        h3= album.description
