extends layout

block content
  h1= title
  p Welcome to #{title}
  P this database contains: 
  ul
    li #{numAlbums} Albums
    li #{numAlbumInstances} Album Instances 
    li #{numArtists} Artists
    li #{numGenres} Genres
